
.Header{
    position: relative; 
    font-size: 20px; 
    width: 100vw;
    left: -5vw;
    background: white; 
    text-align: center; 
}
.Content {
    width: 90vw; 
    margin: auto;
    margin-bottom: 10vh; 
    margin-top: -18px; 
    
}
.Gallery{
    margin-top: 30px; 
    /* background: green; */
}
.Project{
    margin-top: 30px; 
    font-size: 20px; 
    vertical-align: top; 

}
.Box img {
    width: 300px; 
    max-width: 100%; 
    height: 300px; 
    /* position: absolute;  */
    object-fit: cover;
    z-index: 1; 
    /* display: block;  */
}
.Box {
    display: inline-block; 
    position: relative; 
    width: 300px; 
    max-width: 100%; 
    /* height: 300px;  */
    margin: 10px; 
    padding: 10px;
    text-align: center;
    background:white;
}
.Box .title{
    /* background:green; */
    display:block;
    font-weight:bold;
    /* font-size: 20px; */
}
.Box .year{
    /* background:green; */
    display:inline;
    float:right;
    color: gray;
    font-weight:normal;

}
.Box .desc{
    /* background:green; */
    display:inline;
    float:left;
    font-weight:normal;
    color:goldenrod;
    

}
.Overlay{
    background: rgba(0, 0, 0, 0); 
    width: 300px; 
    max-width: 100%; 
    height: 300px; 
    position: absolute; 
    margin: auto;
    z-index: 2; 
    text-align: center; 
    transition: .3s; 
    opacity: 0; 
    line-height: 300px; 
    text-transform: uppercase; 
}

.Overlay:hover{
    background: rgba(0, 0, 0, .8); 
    transition: .3s; 
    opacity: 1;
    color: white; 
}

#nothing{
    display: none; 
}

.Project img {
    margin: 10px; 
}

h{
    font-size: 35px; 
    display: block;
    margin: 10px; 
}

#name{
    font-size: 50px; 
    padding: 10px; 
    padding-top: 20px; 
}
#buttons{
    width: 100vw; 
    text-align: center; 
    left: 0; 
    right: 0; 

    display: inline-block; 
}

.button{
    font-size: 30px; 
    background: none; 
    border: none; 
    margin-left: 15px; 
    margin-right: 15px; 
    margin-bottom: 15px; 
    display: inline-block; 
    text-transform: uppercase;
    text-decoration: none; 
    color:  rgb(227, 90, 5);
    font-weight: normal; 

}
.button:hover{
    cursor:pointer;
    text-decoration: underline;
}

.active {
    /* text-decoration: underline;  */
}

.smallImg{
    width: 300px; 
    max-width: 100%; 
    /* border: 10px solid black; */
    background: blue; 
    display:inline-block;

}

.medImg{
    width: 600px; 
    max-width: 100%; 

}

a{
    text-decoration:none; 
    font-weight: bold; 
    color: rgb(85, 64, 64);
}

.col{
    max-width: 350px;
    display: inline-block;
    margin: 10px;
    vertical-align: top; 
  }

iframe{
    margin: 10px; 
}
#frontpage img{
    vertical-align: middle; 
  
}

.code{
    width: 48%; 
    display: inline-block; 
    vertical-align: top;
    margin-top: 40px; 
    max-height: 450px; 
    overflow-y: scroll; 
}

.explanation{
    width: 48%; 
    padding: 1%; 
    display: inline-block; 
    vertical-align: top;
    margin-top: 40px; 
}

.invisble{  
    color: green; 
}

.youtube{
    width: 900px; 
    max-width: 100%; 
    height: 500px;
}

.smallVideo{
    width: 500px; 
    max-width: 100%; 
    height: 300px;
}